# Database configuration
DB_NAME=patentanalyzer
DB_USER=postgres
DB_PASSWORD=123
DB_HOST=localhost
DB_PORT=5432

# resetdb command configuration
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=123

# dump and load command configuration
DOWNLOAD_BACKUP_URL1="https://drive.google.com/uc?id=1cia5JxdTeTiOMhGbYhxQv8eo-36FEsVQ&export=download"
DOWNLOAD_BACKUP_URL2="https://patentanalyzer.blob.core.windows.net/patentanalyzer/dump?sp=r&st=2023-08-24T07:20:34Z&se=2026-04-01T15:20:34Z&spr=https&sv=2022-11-02&sr=b&sig=DngMl0jG%2Fdy8D0OCC2enT6wDqrR%2BvcpWLRkpOKyScGI%3D"

# Django configuration
DJANGO_SECRET_KEY=secret
DJANGO_DEBUG=False
DOMAIN=