asgiref==3.6.0
backports.zoneinfo==0.2.1
certifi==2022.12.7
charset-normalizer==3.1.0
Django==4.1.7
django-debug-toolbar==3.8.1
django-environ==0.9.0
django-leaflet==0.28.3
django-modeladmin-reorder==0.3.1
django-postgres-copy==2.7.2
idna==3.4
numpy==1.24.2
pandas==1.5.3
pip-autoremove==0.10.0
psycopg2==2.9.5
python-dateutil==2.8.2
pytz==2022.7.1
requests==2.28.2
six==1.16.0
sqlparse==0.4.3
urllib3==1.26.14
