env/
.env
__pycache__/
data
# A file used locally to view the data of tsv datadumps 
test.ipynb
# Migrations should be ignored because there's no production yet.
main/migrations/*
!main/migrations/__init__.py
temp/
dump
service-secrets.json
excels/ 