<div class="min-max-slider d-flex align-items-center" data-min="{{widget.subwidgets.0.attrs.min}}" data-max="{{widget.subwidgets.0.attrs.max}}">
    <input size="{{widget.subwidgets.0.attrs.max|stringformat:"d"|length}}" class="form-control w-auto me-4 min-input " type="number" name="{{widget.subwidgets.0.name}}">
    <div class="slider w-100"> </div>
    <input size="{{widget.subwidgets.0.attrs.max|stringformat:"d"|length}}" class="form-control w-auto ms-4 max-input " type="number" name="{{widget.subwidgets.1.name}}">
</div>