<div class="d-flex align-items-center">
    <input type="date" class="form-control" name="{{widget.subwidgets.0.name}}"
        {% if widget.subwidgets.0.value %} value="{{widget.subwidgets.0.value}}" {% endif %}
        id="{{widget.subwidgets.0.name}}">
    
    <div class="mx-1"> to </div>
    
    <input type="date" class="form-control" name="{{widget.subwidgets.1.name}}"
        {% if widget.subwidgets.1.value %} value="{{widget.subwidgets.1.value}}" {% endif %}
        id="{{widget.subwidgets.1.name}}">
</div>

