{% load static %}


<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "main/styles/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "main/styles/fontawesome.min.css" %}">
    <link rel="stylesheet" href="{% static "main/styles/nouislider.min.css" %}">
    <link rel="stylesheet" href="{% static "main/styles/choices.min.css" %}">
    <link rel="stylesheet" href="{% static "main/styles/leaflet.css" %}">
    <link rel="stylesheet" href="{% static "main/styles/leaflet-draw.css" %}">
    <link rel="stylesheet" href="{% static "main/styles/base.css" %}">
    {% block styles %} {% endblock styles %}
    <script src="{% static "main/scripts/fontawesome.min.js" %}"></script>
    <script src="{% static "main/scripts/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "main/scripts/nouislider.min.js" %}"></script>
    <script src="{% static "main/scripts/choices.min.js" %}"></script>
    <script src="{% static "main/scripts/widgets.js" %}"></script>
    <script src="{% static "main/scripts/leaflet.js" %}"> </script>
    <script src="{% static "main/scripts/leaflet-draw.js" %}"></script>
    <script src="{% static "main/scripts/base.js" %}"></script>
    {% block scripts %} {% endblock scripts %}
    <title>PatentAnalyzer</title>
    <meta name="description" content="An open source tool for analyzing patents.">
    <meta name="keywords" content="Patent, USPTO, Analyze, Statistics, Data Representation">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url "index" %}">
                PatentAnalyzer
            </a>

            <button class="ms-auto theme-button" onClick="switchBootstrapTheme()">
                <i class="fa-solid fa-circle-half-stroke"></i>
            </button>
        </div>
    </nav>
    <main>
        <h1 class="h1 text-center"> PatentAnalyzer </h1>
        <div class="container-fluid"> {% block contentBig %} {% endblock contentBig %} </div>
        <div class="container-xxl"> {% block content %} {% endblock content %} </div>
    </main>
    <footer>

    </footer>
</body>

</html>