{% extends "main/base.html" %}

{% block content %}
    <p class="fs-5 mt-3">
        Use the following form to narrow down the set of patents that will be analyzed.
    </p>
    <small>
        The more patents you select, the longer it will take to analyze them.
    </small>
    <form method="POST" action="{% url "index" %}" class="border border-1 rounded shadow p-3 mt-2">
        {% csrf_token %}
        {{ form }}
        <button class="btn border" type="submit"> Submit </button>
    </form>
{% endblock %} 