{% load macros %}

{% macro render_field field %}
    <div class="mb-3">
        <div class="d-flex">
            <label for="{{field.name}}" class="form-label"> {{ field.label }} </label>
            {% if field.help_text %}
                <div class="ms-auto" data-bs-toggle="tooltip" data-bs-title="{{field.help_text}}">
                    <i class="fa-solid fa-info"></i>
                </div>
            {% endif %}
        </div>
        {{ field }}
        {{ field.errors }}
    </div>
{% endmacro %}

{{ form.non_field_errors }}
<div class="accordion" id="accordionMainForm">
    {% for name, fields in form.field_categories.items %}
        <div class="accordion-item mb-3">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#mainForm-{{ name|slugify }}" aria-expanded="true" aria-controls="mainForm-{{ name|slugify }}">
                    {{ name }}
                </button>
            </h2>
            <div id="mainForm-{{ name|slugify }}" class="accordion-collapse collapse {% if forloop.first %}show{% endif %}">
                {% if name == "CPC fields" %}
                    <p class="m-2 fs-6">
                        A field with greater specificity has greater precedence over a field with 
                        less specificity. For example, if you select "A" for section, and "A41"
                        for class, you will only get the results for class A41.
                    </p>
                {% endif %}
                <div class="accordion-body">
                    {% for field in form %}
                        {% if field.name in fields %}
                            {% use_macro render_field field %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>


